{% extends "base_preact.html" %}
// {% block code %}
Main = () => html`
<div class="mb-8 flex items-center">
    <img src="{{pfp}}" alt="profile picture" class="h-24 w-24 rounded-full"/>
    <div class=" ml-8">
        <h2 class="text-2xl">
            {{username}}
        </h2>
        <p class="mb-8">
            Coins: {{coins}}<br/>
            {% if not ownpage %}
                <button onClick="alert(1)">Propose trade</button>
            {% endif %}
        </p>
    </div>
    
</div>

`
//{% endblock %}