
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{%endblock%}</title>
	{% include "head.html" %}
		
	{%block headCode %}
	{%endblock%}
</head>
<body>
    {% if config['DEBUG'] %}
        <div class="fixed top-0 right-0 m-8 p-3 text-xs font-mono text-f_inv h-6 w-6 rounded-full flex items-center justify-center bg-b_inv">
            <div class="block  sm:hidden md:hidden lg:hidden xl:hidden">al</div>
            <div class="hidden sm:block  md:hidden lg:hidden xl:hidden">sm</div>
            <div class="hidden sm:hidden md:block  lg:hidden xl:hidden">md</div>
            <div class="hidden sm:hidden md:hidden lg:block  xl:hidden">lg</div>
            <div class="hidden sm:hidden md:hidden lg:hidden xl:block">xl</div>
        </div>
    {% endif %}
    <div class="base mx-auto p-4">
        <header class="border-b-2 border-b_high pb-2 flex items-center">
            <h1 class="text-xl"><a href="/" class="hover:opacity-80">Carbon Coins</a></h1>
            <div class="flex-grow"></div>
            <nav>
                <a href="/login" class="px-2 py-1 bg-b_med ml-1 hover:bg-b_high">login</a>
                <a href="#" class="px-2 py-1 bg-b_med ml-1 hover:bg-b_high">trade</a>
                <a href="#" class="px-2 py-1 bg-b_med ml-1 hover:bg-b_high">calculate</a>
            </nav>
        </header>
        <main class="mt-12">
          {% block main %}
          {%endblock%}
        </main>
    </div>
    <footer class="text-sm text-center opacity-50">
        (c) 2021 Collective Fullstack 
    </footer>
</body>
</html>