{% extends "base_preact.html" %}

//{% block code %}

class Calculator extends Component {
    constructor() {
        super()

        this.state = {
            currentTab: "travel", // ("travel" | "energy")
            startLocation: '',
            endLocation: '',
            transportationType: '',
            resultCO2: 'not loaded'
        }

        _defineProperty(this, "changeTab", (newTab) => {
            this.setState({currentTab: newTab})
        })

        _defineProperty(this, "getCoinUsage", async (e) => {
            // do fetch stuff here
            e.preventDefault();
            console.log(e)
            const res = await fetch('/api/calc_travel', {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'start_location': this.state.startLocation,
                    'end_location': this.state.endLocation,
                    'co2_per_km': 182 // change this depending on first option. (182 is average AU car)
                })
            }).then(r => r.json()).then(d => this.setState({resultCO2: d.total_co2}))
            
        })


        _defineProperty(this, "Tabs", () => {
            if (this.state.currentTab === "travel" ) {
                return html`
                    <form onSubmit=${this.getCoinUsage}>
                        Transportation Type:
                        <select 
                            value=${this.state.transportationType} 
                            onChange=${(e) => this.setState({transportationType: e.target.value})}
                            class="input-elem appearance-none rounded-none"
                        >
                            <option value="A">Average Car</option>
                        </select>
                        Start Location:
                        <input
                            type="text" 
                            name="start location" 
                            value=${this.state.startLocation} 
                            onInput=${(e) => this.setState({startLocation: e.target.value})}
                            class="input-elem" 
                            placeholder="location address"
                        />
                        End Location:
                        <input
                            type="text" 
                            name="end location" 
                            value=${this.state.endLocation} 
                            onInput=${(e) => this.setState({endLocation: e.target.value})}
                            class="input-elem"
                            placeholder="location address" 
                        />
                        <input type="submit" value="Search" class="block px-4 py-2 text-base bg-b_med hover:bg-b_high cursor-pointer" />
                    </form>
                    
                `
            }
            if (this.state.currentTab === "energy") {
                return html` 
                    Energy calculator is not ready yet.
                `
            }
        })
    }



    render() {
        return html`
            <div class="flex mb-8">
                <button
                    onClick=${() => this.changeTab('travel')}
                    class="text-base flex-grow text-center py-2 w-1/2 mr-1 ${this.state.currentTab === 'travel' ? 'bg-f_med': 'bg-b_med hover:bg-b_high' }"
                >
                    travel
                </button>
                <button
                    onClick=${() => this.changeTab('energy')}
                    class="text-base flex-grow text-center py-2 w-1/2 ml-1 ${this.state.currentTab === 'energy' ? 'bg-f_med': 'bg-b_med hover:bg-b_high' }"
                >
                    energy
                </button>
            </div>
            <div class="mb-8">
                <${this.Tabs} currentTab=${this.state.currentTab}/>
            </div>
            <div>
                ${this.state.resultCO2 !== "not loaded" && this.state.resultCO2 + 'g'}
            </div>
            
        `
    }
}


Main = () => {
    return html`
    <h2 class="text-2xl mb-8">
        Calculate your Carbon Coin use.
    </h2>
    <p class="mb-8">
        Please select an option from below, then follow the prompts to log your Carbon Coin use.
    </p>
    <${Calculator} />
    `
}

//{% endblock %}