<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#020202">
<link href="{{ url_for('static', filename='tailwind.css') }}" type="text/css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" type="text/css">
<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
<style type="text/css">
    :root{
        --background: #222222;
        --f_high: #FFFFFF;
        --f_med: #FF5E28;
        --f_low: #888888;
        --f_inv: #000000;
        --b_high: #555555;
        --b_med: #333333;
        --b_low: #111111;
        --b_inv: #FF5E28;
    }
    .base{
        max-width:42rem;
        padding-bottom: 42px;

    }
    body,html{
        height:100%;
        background-color:var(--background);
        color: var(--f_high);
        font-family: 'IBM Plex Sans', sans-serif;
        transition: background 1s ease, color 1s ease;
    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>