{% extends "base_preact.html" %}
// {% block code %}
Main = () => html`
<h2 class="text-2xl mb-8">
    Welcome to our Carbon Thing
</h2>
<p class="mb-8">
    Carbon Coins is an online platform designed to help individuals understand how much carbon the things they do every day emit. It also aims to reduce the amount of carbon emitted overall by limiting the supply of "carbon coins" — tokens each representing one tonne of CO2 emissions — to a finite amount. Users are able to send carbon coins to each other, allowing for a trading system of carbon coins. Currently, users have to manually input their carbon usage via the calculator. But in future this will be automated by energy companies and smart technologies.
</p>
`
//{% endblock %}