{% extends "base_preact.html" %}
{% block code %}
Main = () => html`
<h2 class="text-2xl mb-8">Login</h2>
<p class="mb-8">
    In order to use Carbon Coins, you need an account. <a href="/signup" class="underline hover:opacity-80">Create an account</a> if you don't have one yet.
</p>
<form action="#" method="POST" class="block">
    Username: 
    <input type="text" placeholder="JoeUsername" name="user" class="input-elem" />
    Password: 
    <input type="password" placeholder="••••••••" name="password" class="input-elem"/>
    <input type="submit" value="Login" class="block px-4 py-2 text-base bg-b_med hover:bg-b_high cursor-pointer" />
</form>
`
{% endblock %}
